<div class="heading">
    <h1 class="display-1">Create new Owner</h1>
</div>
<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="mb-2 col-lg-6">
        <!-- When nesting rows, always make row > col-* > row. The Bootstrap classes do not work right when an element is both col* and row -->
        <div class="row">
            <label for="horseFirstName" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
                First Name *
            </label>
            <div class="col-md-10 col-lg-8">
                <input type="text" id="horseFirstName" name="horseFirstName" placeholder="Owners first name"
                    class="form-control" [(ngModel)]="owner.firstName" required [disabled]="mode === 2">
                <div class="invalid-feedback">
                    <!-- This is shown, when the form validation deems the name input to be invalid -->
                    First Name is required
                </div>
            </div>
        </div>
    </div>

    <div class="mb-2 col-lg-6">
        <!-- When nesting rows, always make row > col-* > row. The Bootstrap classes do not work right when an element is both col* and row -->
        <div class="row">
            <label for="horseLastName" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
                Last Name *
            </label>
            <div class="col-md-10 col-lg-8">
                <input type="text" id="horseName" name="horseLastName" placeholder="Owners last name"
                    class="form-control" [(ngModel)]="owner.lastName" required>
                <div class="invalid-feedback">
                    <!-- This is shown, when the form validation deems the name input to be invalid -->
                    Last Name is required
                </div>
            </div>
        </div>
    </div>

    <div class="mb-2 col-lg-6">
        <!-- When nesting rows, always make row > col-* > row. The Bootstrap classes do not work right when an element is both col* and row -->
        <div class="row">
            <label for="horseEmail" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
                E-Mail
            </label>
            <div class="col-md-10 col-lg-8">
                <input type="email" id="horseName" name="horseEmail" placeholder="E-Mail" class="form-control"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="owner.email">
                <div class="invalid-feedback">
                    <!-- This is shown, when the form validation deems the name input to be invalid -->
                    Email invalid
                </div>
            </div>
        </div>
    </div>


    <div class="mt-4 d-flex flex-row">
        <span class="flex-grow-1"></span>
        <button type="submit" class="btn btn-primary" type="submit" [disabled]="!form.valid">
            Create
        </button>
    </div>
</form>